footer{
    width: 100%;
    margin : 3% auto;
}


footer .footer__contentWrap{
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .footer__Left>p{
    text-align: left;
}

.footer__bottom {
    margin: 5% auto;
}

.snsIconWrap{
    display: flex;
    margin-top : 5%;
    justify-content: flex-start;
}

.snsIconWrap * {
    margin: 0 2%;
    border : 1px solid black;
    border-radius: 50%;
    padding : 0.5rem;
    font-size: 1.5em;
}