footer{
    display: block;
    width: 100%;
    margin :6% auto;
    color :rgba(255, 255, 255, .8);
}


footer .footer__contentWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 0 5%;

}

.footer__Left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 0 2%;
    /* border : 2px solid yellow; */
    height: 20em;
    flex-basis : 0;
    flex-grow : 0.9;
}

.footer__Right{
    display : flex;
    flex-basis : 0;
    flex-grow: 0.9;
    flex-direction: column;
    align-items: flex-start;
    padding : 0 2%;
    height : 20em;
    /* border : 2px dashed palegoldenrod; */
}

.Info__Wrap { 
    display: flex;
    justify-content: flex-start;
    line-height: 2.5em;
}

.InfoContent__Wrap{
    margin-left : 8%;
}

.footer__Right > div{
    width : 100%;
}

footer .footer__Left>p{
    text-align: left;
    margin-bottom : 8%;
    width : 100%;
}

.footer__btnBox{
    margin-top : 5% auto;
    width : 7em;
    text-align: center;
    vertical-align: middle;
    
}

.footer__Btn{
    background-color: none;
    padding : 0.5em;
    border-radius: 7px;
    background-color: rgba(0,0,0,0);
    color : #e9e9e9;
}

.footer__Btn:hover{
    box-shadow: 0 1px 16px 0 rgba(0,0,0,0.24),0 5px 100px 0 rgba(0,0,0,0.19);
}

.footer__Btn:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.footer__bottom {
    margin: 5% auto;
}

.snsIconWrap{
    display: flex;
    justify-self: flex-start;
    margin-top : 8%;
    justify-content: flex-start;
}

.snsIconWrap * {
    margin: 0 3%;
    border : 1px solid #e9e9e9;;
    border-radius: 50%;
    padding : 0.5rem;
    margin-bottom : 2%;
    font-size: 1.5em;
}

