
/* -------nav------- */
nav{
    box-sizing: border-box;
    display :flex;
    justify-content: space-around;
    align-items: center;
    height : 4em;
    font-size: 1em;
    padding : 0 10em;
    background-color: #F7F7F7;
    color:rgb(87, 87, 87);
}

nav > span{
    display: flex;
    align-items: center;
    margin : 0 1%;
    padding : 0 2%;
    height : 100%;
}

span[class^="nav"]:hover{
    cursor: pointer;
    background: lightgrey;
}
