
/* ----sec1---- */


.section1{
    display: flex;
    justify-content: center;
}

.section1>*{
    /* border: 1px dashed black; */
    /* float: left; */
    flex-basis: 0;
    flex-grow : 1;
}

.section1__Left {
    padding: 5%;
    width : 80vw;
    flex-basis: 0;
    flex-grow : 1.5;
}

.setion1__Left__Title{
    margin: 2% 0;
}

.section1__Left > *{
    text-align: left;
}

.section1 .section__Left__moreBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#briefInfo{
    word-break: keep-all;
    white-space: pre-wrap;
    margin : 3% 0;
    width : 28em;
}

#detailTable{
    display: none;
    width : 28em;
    font-size: 0.9em;
    margin: 0 1em;
    white-space : nowrap;
    padding : 0;
    background :rgb(107, 107, 107, 0.1)
}

td:nth-child(1){
    font-weight: 800;
}


.section1__Right{
    display : flex;
    flex-basis: 0;
    flex-grow : 1;
    width: 30%;
    padding : 5%;
    justify-content: center;
    align-items: center;
}

.section1__Right .section1__Right__Imgbox{
    align-self: baseline;
    padding: 0;
    margin: 0;
    width: 15rem;
    height: 19rem;
    border-radius: 50%;
}

.section1__Right .section1__img {
    width: 100%;
    border-radius: 50%;
}





