html,body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 0;
    padding : 0;
    /* height: 100%; */
    width: 100%;
}

/* 반응형 웹을 위한 필수 요소 */
body>*{
    min-width: 647px;
    max-width: 1280px;
}

p{
    overflow: auto;
    text-overflow:ellipsis;
    width: 400px;
    text-align: center;
    word-break: keep-all;
}

td,tr{
    border: 1px solid black;
    padding: 5px;
}

tr > :first-child{
    text-align: center;
}

nav,footer{
    display :flex;
    justify-content: center;
}
    


/* -------header-------- */

header{
    margin: 10% 0 ;
    width: 100%;
    /* padding: 10px 30px; */
}

.logoImg{
    width: 50px;
    height: 50px;
}

div[class^="header"]{
    display: flex;
    justify-content: center;
}

.header__Name{
    font-size: 1.8em;
    margin: 10px 0;
}

section{
    padding : 7%;
}

hr{
    width: 100px;
    margin-left: 0;
    margin-top : 0;
}

button{
    color : gray;
    padding : 5px 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin : 5% 0;
    outline: 0;
    width : 8rem;
    height : 2.5rem;
    text-align: center;

}

button:hover{
    box-shadow: 0 1px 16px 0 rgba(0,0,0,0.24),0 5px 100px 0 rgba(0,0,0,0.19);
}

button:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/* -------footer------- */
